.media {
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "menu content content";
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: auto 1fr;
    /* height: 100vh; */
}

.nav {
    grid-area: nav;
}

.menu {
    grid-area: menu;
    /* border-right: #27ae60 1px solid; */
}

.menu a {
    display: block;
    padding: 10px;
    color: black;
}

.menu a:hover {
    background-color: #27ae5f91;
    color: black;
}

@media (orientation: portrait) {
    .media {
        grid-template-areas:
            "nav nav nav"
            "menu menu menu"
            "content content content";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
    }

    .types {
        display: flex;
        justify-content: space-around;
        /* border-bottom: #27ae60 1px solid; */
    }

    .types a {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
    }

    .upload-btn {
        display: block;
        width: calc(100% - 20px);
        text-align: center;
    }
}

a.current {
    background-color: #27ae60;
    color: black;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: #007F73;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-btn:hover {
  background-color: #007f72dd;
}

/* Hide the default file input */
.file-input {
    display: none;
}