body {
  font-family: 'segoe ui';
  background-color: #4CCD99;
  margin: 0;
  padding-top: 3em;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.medical_info_container, .relationship-container, .timeline-container, .timeline-entry{
  max-width: 600px;
}

/* .child_picture{
 
} */

.select-child-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.select-child-container h2 {
  margin-bottom: 10px;
}

.select-child-container .child-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select-child-container .child-profile-item {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.select-child-container .child-profile-item:hover {
  background-color: #f0f0f0;
}

.add-child-button {
  background-color: #007F73;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding-bottom: 10px;
}

.add-child-button:hover {
  background-color: #00594D;
}

.relationship-header{
  padding-left: 1em;
}

label {
  font-weight: bold;
}

.create-account,
.login {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="submit"], .btn {
  width: 100%;
  background-color: #007F73;
  color: #fff;
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover, .btn:hover {
  background-color: #007f72dd;
}

button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 8px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  z-index: 0;
}

button:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

a {
  text-decoration: none;
  color: #007F73;
}
* {
  box-sizing: border-box;
}

.nav {
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: #007F73;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav > .nav-header {
  display: inline;
}

.nav  a{
  color: white;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

img{
  width: 100%;
  height: auto;
}

@media (max-width:990px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #4CCD99;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    height: calc(100vh - 50px); 
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    padding: 13px 10px;
    color: #efefef;
    text-decoration: none;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0; 
  }
  .nav > #nav-check:checked ~ .nav-links {
    overflow-y: auto;
  }
  /* img{
    width: 100%;
    height: auto;
  } */
}
