nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: pink;
    padding: 1em;
    margin: -0.5em;
  }

nav li {
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
   }
    