<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/styles.css"> 
    <link rel="stylesheet" href="gallery.css">
    <link rel="icon" href="../images/logo.ico" type="image/x-icon">
    <title>Gallery</title>
</head>

<body>
    <div class="gallery">
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    <a href="../Homepage/homepage.html">Childcare Manager</a>
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            <div class="nav-links">
                <a href="../Select_child/select_child.html">Select Child Profile</a>
                <a href="../Schedule/schedule.html">Schedule</a>
                <a href="../Medical_info/medical_info.html">Medical Info</a>
                <a href="../Gallery/gallery.html">Gallery</a>
                <a href="../Relationships/relationships.html">Relationships</a>
                <a href="../Timeline/timeline.html">Timeline</a>
                <a href="../Profile/profile.html">Profile</a>
            </div>
        </div>

        <div class="menu">
            <a class="current" href="../Gallery/gallery.html">Photos</a>
            <a href="#">Videos</a>
            <a href="#">Audio</a>
            <a href="#">Documents</a>
        </div>

        <div class="content">
            <img src="../images/baby.jpg" alt="baby">
            <img src="../images/3yr.jpg" alt="3yr">
            <img src="../images/5yr.jpg" alt="5yr">
            <img src="../images/10yr.jpg" alt="10yr">
        </div>
    </div>
</body>

</html>
